*,
*::after,
*::before{
  box-sizing: border-box;
}
.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
body{
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color:black;
}
header{
  background: url(..//images/Group\ 4.jpg);
  background-repeat: no-repeat;
  
}
.header__inner{
  padding-bottom: 92px;
}
.header__top{
  display: flex;
  align-items: center;
  padding-top: 35px;
}
.header__link{
  margin-right: 185px;
}
nav{

}
ul a{
  text-decoration: none;
  color: inherit;
}
.menu__list{
  display: flex;
  gap: 45px;
}
.menu__list a{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color:#fff;
  letter-spacing: 0.6px;
}
.menu__item{
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: .4s;
}
.menu__item:hover{
  border-color: #00B2A0;
}
.header__content{
  padding-top: 243px;
  text-align: center;
}
.header__content-title{
  color: #0D302C;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  letter-spacing: 0.6px;
}
.header__content-text{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 315px;
}
.about{
  padding-top: 189px;
  padding-bottom: 200px;
}
.about__inner{

}
.title{
  color: #01353E;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  position: relative;
}
.title__img{
  position: absolute;
  top: 20px;
}
.about__title{
  margin-bottom: 100px;
  text-align: center;
}
.about__text-box{
  display: flex;
  align-items: flex-start;
  gap: 120px;
  margin-bottom: 30px;
}
.about__text{
  max-width: 480px;
}
.get{
  background: #F8F8F8;
}
.get__inner{
  padding: 200px 0;
}
.get__title{
  margin-bottom: 101px;
  text-align: center;
}
.get__items{
  display: flex;
  gap: 75px;
  align-items: flex-start;
  margin-bottom: 103px;
}
.get__item{
  width: 350px;
}
.get__item-header{
  display: flex;
  align-items: center;
  gap:10px;
  width:220px;
  margin: 0 auto 19px;
}
.get__item-title{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.get__content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.get__item-text1{
  margin-top: 25px;
}
.procent{
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  margin-left: 10px;
}
.content__item{
  margin-bottom: 18px;
}
.content__item-head{
  display: flex;
  align-items: center;
  gap: 10px;
}
.get__content-item{
  max-width: 600px;
}
.get__text{
  margin-bottom: 30px;
}

.peaks__inner{
  display: flex;
  gap: 89px;
  align-items: center;
  justify-content: flex-end;
}
.peaks__title{
  margin-bottom: 100px;
}
.peaks__text-box{
  text-align: left;
  
}
.peaks__text{
  margin-bottom: 30px;
  width: 507px;
  letter-spacing: 0.6px;
}
.peaks{
  margin-bottom: 200px;
}
.gallary{
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
  letter-spacing: 0.6px;
}
.gallary__title{
  text-align: center;
  margin-bottom: 212px;
}
.gallary__btns{
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.gallary__content{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}
/* .gallary__content-img{
  max-width: 100%;
} */
.gallary__link-label{
  text-align: center;
  margin-bottom: 200px;
}
.gallary__link{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 23px 91px;
  border: 1px solid #C4C4C4;
}
.gallary__button{
  padding: 0;
  background-color: transparent;
  border: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
}
.mixitup-control-active{
  color: #00B2A0;
}
.blockquote{
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.6px;
  color: #242121;
  text-align: center;
  margin-bottom: 200px;
  padding: 81px 0 62px;
  background: #F8F8F8;
}
.blockquote__span{
  display: block;
  letter-spacing: 0.6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin-left: 615px;
}
.gallary__video{
  height: 600px;
  background: url("..//images/gallary/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
.achievements__inner{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 198px;
}
.achievements__subtitle{
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #01353E;
  letter-spacing: 0.6px;
}
.achievements__span{
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  text-align: center;
}
.span3{
  margin-left: -15px;
}
.blog__title{
  text-align: center;
  margin-bottom: 229px;
}
.blog__label{
  background-image: url('..//images/slider-bg.jpg');
}
.blog__inner{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 314px 0 77px;
  background-color: rgba(36, 33, 33, 0.5);
  margin-bottom: 200px;
}
.blog__slider-item-inner{
  max-width: 600px;
  margin-left: auto;
}
.slick-dots{
  list-style: none;
  display: flex;
  margin: 260px  0 0;
  gap: 15px;
  justify-content: center;
}
.slick-dots li button{
  font-size: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}
.slick-dots .slick-active button{
  background-color: #00B2A0;
}
.blog__slider-link{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #FFFFFF;
  text-decoration: none;
}
.blog__slider-text{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #FFFFFF;
}
.team__title{
  text-align: center;
}
.team__inner{
  padding: 212px 0 200px;
  display: flex;
  justify-content: space-between;
}
.team__item{
  text-align: center;
  font-family: 'Roboto Condensed';
  color: #242121;
}
.team__name{
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin: 25px 0 5px;
}
.team__text{
  letter-spacing: 0.6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;  
}
.services{
  padding: 200px 0;
  background: #F8F8F8;
}
.services__title{
  text-align: center;
  margin-bottom: 183px;
}
.services__inner{
  display: flex;
  justify-content: space-between;
}
.services__item{
  background-color: #fff;
  padding: 45px 0 45px;
  width: 360px;
  color: #01353E;
  text-decoration: none;
  position: relative;
}
.services__item-title{
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 58px;
}
.services__item-textbox{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 137px;
  margin-left: 43px;
}
.services__item-text{
  letter-spacing: 0.6px;
  color: #242121;
}
.services__price{
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  bottom: 45px;
  left: calc(50% - 27px);
}
.services__price::after{
  content: '$';
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  top: calc(50% - 11px);
}
.map{
  padding: 200px 0;
  text-align: center;
}
.contacts__title{
  text-align: center;
}
.contacts__inner{
  display: flex;
  gap: 31px;
  padding: 243px 0 200px;
}
.form{
  max-width: 569px;
}
input,
textarea{
  border: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #00B2A0;
  letter-spacing: 0.6px;
  width: 100%;
}
.form input{
  padding-bottom: 18px;
  border-bottom: 2px solid #DADADA;
  margin-bottom: 32px;
}
input::placeholder,
textarea::placeholder{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #00B2A0;
  letter-spacing: 0.6px;
}
textarea::placeholder{
  width: 260px;
}
textarea{
  height: 156px;
  border-bottom: 2px solid #DADADA;
  margin-top: 21px;
  margin-bottom: 73px;
}
.form__btn{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  padding: 24px 0;
  width: 350px;
  border: 1px solid #C4C4C4;
  background-color: #fff;
}
.contacts__content{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: #242121;
  padding: 49px 0 71px 52px;
  height: 460px;
  width: 100%;
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.contacts__content-label{
  display: flex;
  flex-direction: column;
}
.contacts__social{
  text-align: center;
  margin-bottom: 200px;

}
.contacts__link + .contacts__link{
  margin-left: 10px;
}
.contacts__link{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: #242121;
}
.contacts__link:hover{
  color: #00B2A0;
}
.footer{
  padding: 68px 0;
  background-color: #00B2A0;
  text-align: center;
}